
body {
	font-size: 16px;
	background-color: #FDFDFD;
}

#alertdiv {
	height: 	500px;
	overflow-y: hidden;
	width: 		800px;
	display: 	inline-block;
}

#maindiv {
	text-align: center;
}

.alerts {
	background-color: lightcoral;
	color:	black;
	margin: 1px;
	margin-bottom: 5px;
	text-shadow: none;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.center {
	text-align: center;
}

.inblock {
	display: inline-block;
}

/* Login */

.error {
	padding: 8px;
	margin-bottom: 10px;
}

.width-400 {
	width: 400px;
	margin: 0 auto;
}

input[type=password], input[type=email] {
    height: 28px !important;
    margin-bottom: 15px !important;
}
/* /Login */

/* Navbar */

.fixed-layout {
	table-layout: fixed;
}

.nav-search {
	height:	34px !important;
	width: 130%;
}

.input-append {
	margin-bottom: 5px;
}

/* /Navbar */

/* Patient Page */

#patientinfo {
	margin: 0px auto;
	text-align: center;
}

#patientname {
	font-size: 30px;
}

#timeselect {
	width: auto;
	margin: auto;
}

/* /Patient Page */

/* Medications */

#medtable {
	margin-bottom: 0px;
}

#medtable.table>thead>tr>th {
	border-bottom: 0px;
}

.theader {
	border-bottom: 3px solid black !important;
}

.bigfont {
	font-size: 24px;
}

.popover {
	min-width: 410px;
}

.popover-title {
	background-color: #428bca;
	text-align: center;
	font-size: 16px;
	color: #fff;
}

.norm {
	width: auto;
	display: inline-block;
	color: #333;
}

input.norm {
	height: 28px !important;
}

.width-90-pc {
	width: 90%;
}

.medications-div {
	display: inline-block;
	border: solid 1px;
}

textarea, .form-horizontal {
	margin-bottom: 10px;
}

.mar-right {
	margin-right: 14px;
}

.mar-left {
	margin-left: 14px;
}
/* /Medications */
